/* reset.css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button, input, textarea {
    background: none;
    border: none;
    outline: none;
    font: inherit;
}

button, a {
    cursor: pointer;
}

html {
    font-size: clamp(0.625rem, 1vw + 0.5rem, 1.125rem);
}
