.container {
    max-width: 1440px;
    margin: 0 auto;
    border: 2px solid rgba(251, 210, 0, .8);
}

.headerContainer {
    max-width: 100%;
    position: relative;
}

#header {
    width: 100%;
}

#title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 46.25%;
    object-fit: contain;
}

.bodyContainer {
    width: 75%;
    margin: 0 auto;
}

.outlineContainer {
    width: 100%;
    max-width: 642px;
    margin: 6rem auto 9rem;
}

#threeCat {
    display: block;
    width: 54%;
    margin: 0 auto 4rem;
}

.text {
    font-family: Futura, serif;
    font-size: 0.9rem;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    font-weight: bold;
}

.title {
    width: 40%;
}

.regionContainer {
    width: 100%;
}

.regionVis {
    display: flex;
}

.regionText {
    width: 40%;
    margin-top: 5.6%;
}

#regionEChart {
    width: 55%;
    margin-left: 5%;
}

.regionBtnContainer {
    display: flex;
    justify-content: center;
    height: 5.6%;
    align-items: center;
}

.regionBtnContainer button {
    margin: 0 0.5rem;
    border: solid 1px rgba(0, 0, 0, .3);
    font-family: Arial, serif;
    width: 13%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 0 2px #dccae2;
    font-size: 0.8rem;
}

button:hover {
    box-shadow: 0 0 5px gray;
    transform: scale(1.05);
}

button:active{
    box-shadow: none;
    transform: scale(1);
}

.active {
    background-color: lightgreen;
}

#regionMap {
    width: 100%;
    height: 500px;
    transform: scale(1.2);
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*top: 10%;*/
}

#regionLegend{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.box{
    width: 10px;
    height: 10px;
}

.legendItem{
    font-size: 0.6rem;
}

.popContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.popLeft{
    width: 40%;
}

#popImage{
    width: 100%;
}

.popRight{
    width: 55%;
}

#popTitle{
    margin-bottom: 3rem;
    width: 59%;
}

#sourceTitle{
    margin-top: 2rem;
    width: 51.3%;
}

.sourceUp{
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#catsHeader{
    margin-bottom: 0.3rem;
}

.sourceMid{
    width: 100%;
    height: 500px;
}

#sourceBase{
    color: #eea614;
}

.ageContainer {
    width: 100%;
    margin-top: 5rem;
}

#ageTitle{
    display: block;
    width: 21.7%;
    margin: 0 auto;
}

#test{
    width: 80%;
}

.ageImage{
    width: 100%;
}

.barContainer{
    width: 100%;
}

#barTitleContainer{
    display: flex;
    justify-content: end;
}

#barTitle{
    width: 53%;
}

#barChart{
    width: 100%;
    aspect-ratio: 1.4/1;
    margin: 2rem auto;
}

#barBase{
    font-weight: normal;
}

.pageBottomContainer{
    margin-top: 10rem;
    width: 100%;
    background-color: #7ad2af;
}

.bottomContent{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bottomLeft{
    width: 60.5%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#botImage1{
    width: 71.1%;
    margin-bottom: 1rem;
}

#botImage2{
    width: 46.2%;
    margin-bottom: 1rem;
}

.bottomRight{
    width: 28%;
    margin-right: 2%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#botImage3{
    width: 26.8%;
    margin-bottom: 1rem;
}

.bottomText{
    font-weight: normal;
}

.team{
    margin: 0;
}