.container {
    max-width: 1440px;
    margin: 0 auto;
    /*border: 2px solid rgba(251, 210, 0, .8);*/
}

.headerContainer {
    width: 100vw;
    height: 379px;
    position: relative;
    background-image: url("/assets/header.jpg");
    background-repeat: repeat-x;
}

/*#header {*/
/*    width: 100%;*/
/*}*/

#title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 661px;
    object-fit: contain;
}

.bodyContainer {
    width: 75%;
    margin: 0 auto;
}

.outlineContainer {
    width: 100%;
    max-width: 642px;
    margin: 6rem auto 9rem;
}

#threeCat {
    display: block;
    width: 54%;
    margin: 0 auto 4rem;
}

.text {
    font-family: Futura, serif;
    font-size: 0.9rem;
    font-stretch: normal;
    font-style: italic;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    font-weight: bold;
}

.title {
    width: 40%;
}

.regionContainer {
    width: 100%;
}

.regionVis {
    display: flex;
}

.regionText {
    width: 40%;
    margin-top: 5.6%;
}

#regionEChart {
    width: 55%;
    margin-left: 5%;
}

.regionBtnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.regionBtnContainer button {
    margin: 0 0.5rem;
    border: solid 1px rgba(0, 0, 0, .3);
    font-family: Arial, serif;
    width: 13%;
    height: 50%;
    border-radius: 5px;
    box-shadow: 0 0 2px #dccae2;
    font-size: 0.8rem;
}

button:hover {
    box-shadow: 0 0 5px gray;
    transform: scale(1.05);
}

button:active {
    box-shadow: none;
    transform: scale(1);
}

.active {
    background-color: #19a784;
    color: white;
}

#regionMap {
    width: 100%;
    height: 500px;
    transform-origin: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*top: 10%;*/
}

#regionLegend {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.box {
    width: 10px;
    height: 10px;
}

.legendItem {
    font-size: 0.6rem;
}

.popContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.popLeft {
    width: 40%;
}

#popImage {
    width: 100%;
}

.popRight {
    width: 55%;
}

#popTitle {
    margin-bottom: 3rem;
    width: 59%;
}

#sourceTitle {
    margin-top: 6rem;
    width: 51.3%;
}

.subGroup {
    width: 100%;
    margin: 2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.subImageCats {
    width: 7.5%;
    margin-bottom: 0.3rem;
}

.subImageDogs {
    width: 8.8%;
}

.sourceMid {
    width: 100%;
    height: 500px;
}

#sourceBase {
    color: #eea614;
}

.ageContainer {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
}


#ageTitle {
    display: block;
    width: 21.7%;
    margin: 0 auto;
}

#ageSub {
    margin-bottom: 1rem;
}

#ageBase {
    display: flex;
    align-items: center;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translateX(-50%);
}

#ageBasePoint {
    width: min(0.8rem, 1.2vw);
    height: min(0.8rem, 1.2vw);
    background-color: lightgray;
    border-radius: 50%;
    margin-right: min(0.1rem, 1.2vw);
}

#ageBaseText {
    font-size: min(0.8rem, 1.2vw);
    font-family: Arial, serif;
    font-weight: bold;
    margin-left: min(0.1rem, 1.2vw);
}

.svgContainer {
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s;
    margin-bottom: 0.8rem;
}

.svgContainer svg {
    width: 100%;
    height: auto;
    display: block;
}

.svgContainer:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#ageImage5:hover {
    transform: scale(1.1);
}

.ageImage {
    width: 100%;
}

.ageContentContainer {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
    background-color: white;
    padding: 0 1.5rem;
}

.ageContent {
    margin-bottom: min(6rem, 8vw);
}

.ageText {
    font-weight: normal;
    font-size: 1.1rem;
    /*margin-bottom: 1.5rem;*/
    line-height: 1.5rem;
}

.reasonContainer {
    width: 100%;
    margin-bottom: 5rem;
}

#reasonTitle {
    width: 56%;
    margin-bottom: 2rem;
}

.reasonText {
    margin: 0;
}

/*#reasonChart {*/
/*    width: 100%;*/
/*    height: 500px;*/
/*}*/

#reasonChartContainer{
    width: 100%;
    height: 950px;
    position: relative;
}

#reasonChartContainer .chartImage {
    width: 1100px;
    height: 1100px;
    position: absolute;
    top: -100px;
    left: 100px;
}

.fade {
    transition: opacity 1s ease;
    opacity: 1;
}
.fade.hidden {
    opacity: 0;
}

#reasonChartContainer .icon{
    position: absolute;
    z-index: 10;
    transition: 0.3s linear;
}

#reasonChartContainer .functionalIcon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#iconCats{
    width: 72px;
    top: 480px;
    left: 524px;
}

#iconVs{
    width: 22px;
    top: 525px;
    left: 550px;
}

#iconDogs{
    width: 81px;
    top: 550px;
    left: 521px;
}

.barContainer {
    width: 100%;
}

#barTitleContainer {
    display: flex;
    justify-content: end;
}

#barTitle {
    width: 53%;
}

#barChart {
    width: 100%;
    aspect-ratio: 1.4/1;
    margin: 2rem auto;
}

#barBase {
    font-weight: normal;
}

.pageBottom{
    background-color: #7ad2af;
}

.pageBottomContainer {
    max-width: 1440px;
    margin: 10rem auto 0;
    width: 100%;
}

.bottomContent {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.bottomLeft {
    width: 60.5%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#botImage1 {
    width: 71.1%;
    margin-bottom: 1rem;
}

#botImage2 {
    width: 46.2%;
    margin-bottom: 1rem;
}

.bottomRight {
    width: 28%;
    margin-right: 2%;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#botImage3 {
    width: 26.8%;
    margin-bottom: 1rem;
}

.bottomText {
    font-size: 0.8rem;
    font-weight: normal;
}

.team {
    margin: 0;
}